header{
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-position: center;
    background-image: url(img/mokus-header.png);
    background-color: green;
}
h1{
    font-weight: bolder;
    font-size: 250%;
    color: darkgoldenrod;
    text-align: center;
    border-left-color: peru;
    border-left-width: 5px;
    border-left-style: dotted;
    border-bottom-color: peru;
    border-bottom-width: 5px;
    border-bottom-style: dotted;
    padding: 15px;
    text-transform: capitalize;
    font-family: Verdana;
    box-shadow: 5px black inset;
    letter-spacing: 2px;
    background-color: rgba(0,0,0,0.5);
}
.szinkod{
    background-color: rgba(0,0,0,0.25);
}
h2{
    text-align: center;
    text-transform: capitalize;
    font-size: 175%;
    font-family: Arial;
    padding: 10px;
    font-weight: bolder;
    color: darkolivegreen;
}
img{
    padding: 10px;
}

.row{
    padding-left: 10vw;
    padding-right: 10vw;

}
.pontok{
    font-weight: bold;
    font-size: 115%;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 10px;
    color: sienna;
}
.pontok:hover{
    font-size: 125%;
    text-decoration: double darkolivegreen 2px;
    text-transform: uppercase;
    color: sienna;
}
#elsosor{
    background-color: brown;
}
#masodiksor{
    background-color: peru;
}
#quizresz{
    background-color: yellowgreen;
}
#harmadiksor{
    background-color: olivedrab;
}
.belso{
    background-color: blanchedalmond;
    border-width: 5px;
    border-color: chocolate;
    border-style: double;

}
